body{
    margin: 0;
    font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #858796;
    text-align: left;
    background-color: #fff;
}
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  color: #B94A48;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}
.required{
    color: red;
    font-weight: bold;
}
.serialtip-custom {
    padding: 30px;
    background-color: #fff;
    box-shadow: 5px 5px 35px 5px rgba(0, 0, 0, .1);
    font-size: 14px;
    color: #666;
  }

  .serialtip-custom:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: solid transparent;
  }

  .serialtip-custom.is-placement-bottom:before {
    bottom: 100%;
    left: 50%;
    margin-left: -6px;
    border-width: 0 6px 6px 6px;
    border-bottom-color: #fff;
  }
  ul.checklistbox li {
    list-style: none;
  }

  ul.checklistbox li {
    display: flex;
    align-items: center;
    font-size: 14px;
    /* font-weight: 600; */
  }

  ul.checklistbox li .form-check-input {
    margin-top: 0px;
  }

  #pills-renewal .form-control.dollorb {
    width: 130px !important;
    display: inline-block !important;
    height: 33px !important;
  }
